# GCP Configuration
GCP_PROJECT_ID=your-project-id
GCP_DATASET=police_deaths_analysis
GCP_BUCKET_NAME=your-unique-bucket-name
GCP_LOCATION=US

LOCAL_GCP_CREDS_PATH=./gcp_keys.json # Path for local tools
# SECRET_GCP_CREDS=[will be inserted with next guide step]

# Kaggle Configuration
SECRET_KAGGLE_USERNAME=your_username
SECRET_KAGGLE_KEY=your_api_key